body {   /* added missing bracket */
  font-size: 14px;
}

nav {
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}       /* added missing bracket */

section {
  margin: auto; /* removed the zero */
  width: 60%;
}

h1 {
  font-family: sans-serif; /* added missing colon */
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center; /* added a missing colon and semicolon */
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px; /* added missing colon and removed '0' */
  width: 100%;
}
